In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('credit_risk_dataset.csv')
df = data.copy()

In [3]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [5]:
df.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [6]:
df.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [7]:
df.loan_int_rate.describe()

count    29465.000000
mean        11.011695
std          3.240459
min          5.420000
25%          7.900000
50%         10.990000
75%         13.470000
max         23.220000
Name: loan_int_rate, dtype: float64

In [8]:
df.loan_int_rate.fillna(df.loan_int_rate.mean(),inplace=True)

In [9]:
df.isna().sum()

person_age                      0
person_income                   0
person_home_ownership           0
person_emp_length             895
loan_intent                     0
loan_grade                      0
loan_amnt                       0
loan_int_rate                   0
loan_status                     0
loan_percent_income             0
cb_person_default_on_file       0
cb_person_cred_hist_length      0
dtype: int64

In [10]:
df['person_emp_length'][df.person_emp_length.isna()]

105     NaN
222     NaN
379     NaN
407     NaN
408     NaN
         ..
32285   NaN
32328   NaN
32360   NaN
32453   NaN
32471   NaN
Name: person_emp_length, Length: 895, dtype: float64

In [11]:
df['person_emp_length'][df.person_emp_length == 0].count()

4105

In [12]:
df.person_emp_length.describe()

count    31686.000000
mean         4.789686
std          4.142630
min          0.000000
25%          2.000000
50%          4.000000
75%          7.000000
max        123.000000
Name: person_emp_length, dtype: float64

In [13]:
df.person_emp_length.fillna(df.person_emp_length.mean(), inplace = True)

In [14]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [15]:
#label Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [16]:
df['loan_grade'] = le.fit_transform(df['loan_grade'])

In [17]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,3,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,1,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,2,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,2,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,2,35000,14.27,1,0.55,Y,4

In [18]:
df.corr(numeric_only= True)

,person_age,person_income,person_emp_length,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
person_age,1.000000,0.173202,0.161159,0.014218,0.050787,0.011873,-0.021629,-0.042411,0.859133
person_income,0.173202,1.000000,0.133360,-0.001022,0.266820,0.000752,-0.144449,-0.254471,0.117987
person_emp_length,0.161159,0.133360,1.000000,-0.046693,0.111768,-0.052839,-0.080977,-0.053120,0.142904
loan_grade,0.014218,-0.001022,-0.046693,1.000000,0.145799,0.889922,0.373080,0.123021,0.015069
loan_amnt,0.050787,0.266820,0.111768,0.145799,1.000000,0.139488,0.105376,0.572612,0.041967
loan_int_rate,0.011873,0.000752,-0.052839,0.889922,0.139488,1.000000,0.319342,0.114520,0.015788
loan_status,-0.021629,-0.144449,-0.080977,0.373080,0.105376,0.319342,1.000000,0.379366,-0.015529
loan_percent_income,-0.042411,-0.254471,-0.053120,0.123021,0.572612,0.114520,0.379366,1.000000,-0.031690
cb_person_cred_hist_length,0.859133,0.117987,0.142904,0.015069,0.041967,0.015788,-0.015529,-0.031690,1.000000

In [19]:
df.person_home_ownership.value_counts()

person_home_ownership
RENT        16446
MORTGAGE    13444
OWN          2584
OTHER         107
Name: count, dtype: int64

In [20]:
mapping = {'OWN': 3, 'MORTGAGE':2, 'RENT':1, 'OTHER':0}

In [21]:
df['person_home_ownership'] = df['person_home_ownership'].map(mapping)

In [22]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,1,123.0,PERSONAL,3,35000,16.02,1,0.59,Y,3
1,21,9600,3,5.0,EDUCATION,1,1000,11.14,0,0.10,N,2
2,25,9600,2,1.0,MEDICAL,2,5500,12.87,1,0.57,N,3
3,23,65500,1,4.0,MEDICAL,2,35000,15.23,1,0.53,N,2
4,24,54400,1,8.0,MEDICAL,2,35000,14.27,1,0.55,Y,4

In [23]:
df.corr(numeric_only= True)

,person_age,person_income,person_home_ownership,person_emp_length,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
person_age,1.000000,0.173202,0.024314,0.161159,0.014218,0.050787,0.011873,-0.021629,-0.042411,0.859133
person_income,0.173202,1.000000,0.122626,0.133360,-0.001022,0.266820,0.000752,-0.144449,-0.254471,0.117987
person_home_ownership,0.024314,0.122626,1.000000,0.190733,-0.104470,0.077235,-0.111194,-0.231284,-0.071818,0.023308
person_emp_length,0.161159,0.133360,0.190733,1.000000,-0.046693,0.111768,-0.052839,-0.080977,-0.053120,0.142904
loan_grade,0.014218,-0.001022,-0.104470,-0.046693,1.000000,0.145799,0.889922,0.373080,0.123021,0.015069
loan_amnt,0.050787,0.266820,0.077235,0.111768,0.145799,1.000000,0.139488,0.105376,0.572612,0.041967
loan_int_rate,0.011873,0.000752,-0.111194,-0.052839,0.889922,0.139488,1.000000,0.319342,0.114520,0.015788
loan_status,-0.021629,-0.144449,-0.231284,-0.080977,0.373080,0.105376,0.319342,1.000000,0.379366,-0.015529
loan_percent_income,-0.042411,-0.254471,-0.071818,-0.053120,0.123021,0.572612,0.114520,0.379366,1.000000,-0.031690
cb_person_cred_hist_length,0.859133,0.117987,0.023308,0.142904,0.015069,0.041967,0.015788,-0.015529,-0.031690,1.000000

In [24]:
df.loan_intent.value_counts()

loan_intent
EDUCATION            6453
MEDICAL              6071
VENTURE              5719
PERSONAL             5521
DEBTCONSOLIDATION    5212
HOMEIMPROVEMENT      3605
Name: count, dtype: int64

In [25]:
df.cb_person_default_on_file.value_counts()

cb_person_default_on_file
N    26836
Y     5745
Name: count, dtype: int64

In [26]:
df.cb_person_default_on_file = le.fit_transform(df.cb_person_default_on_file)

In [27]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,1,123.0,PERSONAL,3,35000,16.02,1,0.59,1,3
1,21,9600,3,5.0,EDUCATION,1,1000,11.14,0,0.10,0,2
2,25,9600,2,1.0,MEDICAL,2,5500,12.87,1,0.57,0,3
3,23,65500,1,4.0,MEDICAL,2,35000,15.23,1,0.53,0,2
4,24,54400,1,8.0,MEDICAL,2,35000,14.27,1,0.55,1,4

In [28]:
df = df.join(pd.get_dummies(df.loan_intent, prefix ='loan_intent',dtype=int)).drop('loan_intent', axis=1)

In [29]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
0,22,59000,1,123.0,3,35000,16.02,1,0.59,1,3,0,0,0,0,1,0
1,21,9600,3,5.0,1,1000,11.14,0,0.10,0,2,0,1,0,0,0,0
2,25,9600,2,1.0,2,5500,12.87,1,0.57,0,3,0,0,0,1,0,0
3,23,65500,1,4.0,2,35000,15.23,1,0.53,0,2,0,0,0,1,0,0
4,24,54400,1,8.0,2,35000,14.27,1,0.55,1,4,0,0,0,1,0,0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   person_age                     32581 non-null  int64
 1   person_income                  32581 non-null  int64
 2   person_home_ownership          32581 non-null  int64
 3   person_emp_length              32581 non-null  float64
 4   loan_grade                     32581 non-null  int32
 5   loan_amnt                      32581 non-null  int64
 6   loan_int_rate                  32581 non-null  float64
 7   loan_status                    32581 non-null  int64
 8   loan_percent_income            32581 non-null  float64
 9   cb_person_default_on_file      32581 non-null  int32
 10  cb_person_cred_hist_length     32581 non-null  int64
 11  loan_intent_DEBTCONSOLIDATION  32581 non-null  int32
 12  loan_intent_EDUCATION          32581 non-null  int32
 13  loan_intent_HOMEIMPROVEMENT    32581 non-null  int32
 14  loan_intent_MEDICAL            32581 non-null  int32
 15  loan_intent_PERSONAL           32581 non-null  int32
 16  loan_intent_VENTURE            32581 non-null  int32
dtypes: float64(3), int32(8), int64(6)
memory usage: 3.2 MB

In [31]:
df.corr()

,person_age,person_income,person_home_ownership,person_emp_length,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
person_age,1.000000,0.173202,0.024314,0.161159,0.014218,0.050787,0.011873,-0.021629,-0.042411,0.005807,0.859133,-0.008820,-0.089757,0.074011,0.019858,0.033719,-0.012076
person_income,0.173202,1.000000,0.122626,0.133360,-0.001022,0.266820,0.000752,-0.144449,-0.254471,-0.003613,0.117987,0.002788,-0.015552,0.042536,-0.035806,0.013039,0.002321
person_home_ownership,0.024314,0.122626,1.000000,0.190733,-0.104470,0.077235,-0.111194,-0.231284,-0.071818,-0.051531,0.023308,-0.068112,0.000108,0.048477,-0.050086,0.009990,0.066960
person_emp_length,0.161159,0.133360,0.190733,1.000000,-0.046693,0.111768,-0.052839,-0.080977,-0.053120,-0.027425,0.142904,-0.002602,-0.038629,0.028960,-0.002562,0.010578,0.011287
loan_grade,0.014218,-0.001022,-0.104470,-0.046693,1.000000,0.145799,0.889922,0.373080,0.123021,0.537054,0.015069,0.000414,-0.008453,0.029899,0.001240,-0.006569,-0.010989
loan_amnt,0.050787,0.266820,0.077235,0.111768,0.145799,1.000000,0.139488,0.105376,0.572612,0.039081,0.041967,0.000381,-0.008387,0.043025,-0.024964,-0.001114,-0.000408
loan_int_rate,0.011873,0.000752,-0.111194,-0.052839,0.889922,0.139488,1.000000,0.319342,0.114520,0.477137,0.015788,-0.003632,-0.008988,0.019791,0.006763,-0.001794,-0.008556
loan_status,-0.021629,-0.144449,-0.231284,-0.080977,0.373080,0.105376,0.319342,1.000000,0.379366,0.179141,-0.015529,0.071550,-0.055348,0.036607,0.056595,-0.021094,-0.078274
loan_percent_income,-0.042411,-0.254471,-0.071818,-0.053120,0.123021,0.572612,0.114520,0.379366,1.000000,0.035910,-0.031690,0.002532,-0.000089,-0.015489,0.012730,-0.004117,0.001455
cb_person_default_on_file,0.005807,-0.003613,-0.051531,-0.027425,0.537054,0.039081,0.477137,0.179141,0.035910,1.000000,0.004564,0.003508,-0.007246,0.015489,-0.001758,-0.003331,-0.003478
cb_person_cred_hist_length,0.859133,0.117987,0.023308,0.142904,0.015069,0.041967,0.015788,-0.015529,-0.031690,0.004564,1.000000,-0.009138,-0.078849,0.058943,0.016225,0.035489,-0.008800
loan_intent_DEBTCONSOLIDATION,-0.008820,0.002788,-0.068112,-0.002602,0.000414,0.000381,-0.003632,0.071550,0.002532,0.003508,-0.009138,1.000000,-0.216871,-0.153924,-0.208832,-0.197114,-0.201356
loan_intent_EDUCATION,-0.089757,-0.015552,0.000108,-0.038629,-0.008453,-0.008387,-0.008988,-0.055348,-0.000089,-0.007246,-0.078849,-0.216871,1.000000,-0.175292,-0.237823,-0.224477,-0.229308
loan_intent_HOMEIMPROVEMENT,0.074011,0.042536,0.048477,0.028960,0.029899,0.043025,0.019791,0.036607,-0.015489,0.015489,0.058943,-0.153924,-0.175292,1.000000,-0.168795,-0.159323,-0.162751
loan_intent_MEDICAL,0.019858,-0.035806,-0.050086,-0.002562,0.001240,-0.024964,0.006763,0.056595,0.012730,-0.001758,0.016225,-0.208832,-0.237823,-0.168795,1.000000,-0.216157,-0.220809
loan_intent_PERSONAL,0.033719,0.013039,0.009990,0.010578,-0.006569,-0.001114,-0.001794,-0.021094,-0.004117,-0.003331,0.035489,-0.197114,-0.224477,-0.159323,-0.216157,1.000000,-0.208418
loan_intent_VENTURE,-0.012076,0.002321,0.066960,0.011287,-0.010989,-0.000408,-0.008556,-0.078274,0.001455,-0.003478,-0.008800,-0.201356,-0.229308,-0.162751,-0.220809,-0.208418,1.000000

## Training  Classification Model

In [32]:
X, y = df.drop('loan_status', axis =1), df.loan_status

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [34]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

y_pred_dt = dt.predict(X_test)

print("Decision Tree Accuracy:", accuracy_score(y_test, y_pred_dt))
print(classification_report(y_test, y_pred_dt))

Decision Tree Accuracy: 0.8901278772378517
              precision    recall  f1-score   support

           0       0.94      0.92      0.93      7613
           1       0.74      0.78      0.76      2162

    accuracy                           0.89      9775
   macro avg       0.84      0.85      0.84      9775
weighted avg       0.89      0.89      0.89      9775

In [35]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train)


y_pred_rf = rf.predict(X_test)


print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))

Random Forest Accuracy: 0.9337084398976983
              precision    recall  f1-score   support

           0       0.93      0.99      0.96      7613
           1       0.97      0.72      0.83      2162

    accuracy                           0.93      9775
   macro avg       0.95      0.86      0.89      9775
weighted avg       0.94      0.93      0.93      9775

In [36]:
from sklearn.linear_model import LogisticRegression


log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

y_pred_log_reg = log_reg.predict(X_test)


print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_log_reg))
print(classification_report(y_test, y_pred_log_reg))

Logistic Regression Accuracy: 0.8010230179028133
              precision    recall  f1-score   support

           0       0.80      0.98      0.89      7613
           1       0.74      0.16      0.26      2162

    accuracy                           0.80      9775
   macro avg       0.77      0.57      0.57      9775
weighted avg       0.79      0.80      0.75      9775

In [37]:
from sklearn.svm import SVC


svm = SVC()
svm.fit(X_train, y_train)


y_pred_svm = svm.predict(X_test)


print("SVM Accuracy:", accuracy_score(y_test, y_pred_svm))
print(classification_report(y_test, y_pred_svm))

SVM Accuracy: 0.7949872122762148
              precision    recall  f1-score   support

           0       0.79      1.00      0.88      7613
           1       0.90      0.08      0.15      2162

    accuracy                           0.79      9775
   macro avg       0.85      0.54      0.52      9775
weighted avg       0.82      0.79      0.72      9775

In [38]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=31)
knn.fit(X_train, y_train)

y_pred_knn = knn.predict(X_test)

print("KNN Accuracy:", accuracy_score(y_test, y_pred_knn))
print(classification_report(y_test, y_pred_knn))

KNN Accuracy: 0.8360102301790281
              precision    recall  f1-score   support

           0       0.85      0.95      0.90      7613
           1       0.72      0.42      0.53      2162

    accuracy                           0.84      9775
   macro avg       0.79      0.69      0.72      9775
weighted avg       0.82      0.84      0.82      9775

In [39]:
models = ['Logistic Regression', 'Decision Tree', 'Random Forest', 'SVM','KNN']
accuracies = [
    accuracy_score(y_test, y_pred_log_reg),
    accuracy_score(y_test, y_pred_dt),
    accuracy_score(y_test, y_pred_rf),
    accuracy_score(y_test, y_pred_svm),
    accuracy_score(y_test, y_pred_knn)
]


for model, accuracy in zip(models, accuracies):
    print(f"{model}: {accuracy:.4f}")

Logistic Regression: 0.8010
Decision Tree: 0.8901
Random Forest: 0.9337
SVM: 0.7950
KNN: 0.8360

In [40]:
models = ['Logistic Regression', 'Decision Tree', 'Random Forest', 'SVM','KNN']
accuracies = [
    accuracy_score(y_test, y_pred_log_reg),
    accuracy_score(y_test, y_pred_dt),
    accuracy_score(y_test, y_pred_rf),
    accuracy_score(y_test, y_pred_svm),
    accuracy_score(y_test, y_pred_knn)
]


for model, accuracy in zip(models, accuracies):
    print(f"{model}: {accuracy:.4f}")

Logistic Regression: 0.8010
Decision Tree: 0.8901
Random Forest: 0.9337
SVM: 0.7950
KNN: 0.8360